enable-magisk-update = true # set this to false if you do not want to receive updates for the module in magisk app
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/j-hc/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config

[YouTube]
build-mode = "both"
excluded-patches = ""
included-patches = "'Hide ads' 'Video ads' 'Disable double tap actions' 'Swipe controls' 'Navigation buttons' 'Hide end screen cards' 'Hide end screen suggested video' 'Return YouTube Dislike' 'Shorts autoplay' 'Change start page' 'Disable resuming Shorts on startup' 'Bypass image region restrictions' 'GmsCore support' 'Open links externally' 'Loop video' 'Force original audio' 'Video quality' 'Playback speed'"
version = "auto"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/youtube"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.youtube"
